.content {
  padding: 20px;
  margin-top: 20px;
  background-color: teal;
  color: white;
}

li {
  margin-top: 20px;
  color: white;
}

.errorMessage {
  color: teal;
}

body {
  background-color: black;
}

h1 {
  color: white;
  margin-top: 20px;
}

Form {
  color: white;
}

.btn-primary {
  background-color: teaL;
  border: 2px solid white;
  width: 15%;
}

.navbar {
  padding: 15px 0 10px 25px;
  font-size: 25px;
}

.navbar-brand {
  font-size: 30px;
  margin-right: 43px;
}